body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.main-nav {
  background: black;
  padding: 10px 20px;
}

.main-nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0px;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
}
